/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';


@import 'includes/base.scss';
@import 'includes/frontpage.scss';

//fonts
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
$font-head:    'Anton', sans-serif;
$font: 'Roboto', sans-serif;

//normalizers:
h1, h2, h3 {
    a {
        font-family: $font-head;
        color: $dark-orange;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: none;
            color: $orange;
            }
       }
}
//text
p {
    font-family: $font;
    color: $gray;
}

/********Links***********************************/






/*******************************************/
//header
.navbar {
    &.container {
        width: 100%;
        background-color: $orange;
        border-radius: 0px;
        height: 35px;

    }
}

#navbar.container { max-width: 100%; }
//jumbotron
.jumbotron {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 10, 0.25)
    ),
    /* bottom, image */
    url(../images/ny1.jpg);
  background-size: 80% auto;
  background-position: center top;
  .container {
      border-radius: 0px;
  }
}

//footer
.footer {
    &.container {
        width: 100%;
        background-color: $light-blue;
        height: 150px;
        box-shadow: 10px 10px 50px grey;
    }
}